@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  background: rgb(17, 24, 39);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}